@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body{
	font-family: 'open sans', san-serif;
	
}

#tabela{
	border-collapse: collapse;
	margin: auto;
	
}
		
#tabela th{
			
	text-align:center;
	background-color: #66bbff;
	color: #fff;
	padding:10px;
	width:100px;
}
			
#tabela td{	
	padding:10px;
	
}	
		
#tabela tr:nth-child(even) {
	background-color: #F5F5F5;
}

h1{
	color:#ffff;
	background-color:#66bbff;
	text-align:center;
	padding:20px 18px 20px 0;
	width:100%;
	margin-top:-10px;
	margin-left:-10px;	

}

a{
	display:flex;
	align-items:center;
	justify-content:center;
}	

.tabela{
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction: column;
	margin-top: 20px;
}

.caixa{
	border: 1px solid #66bbff;
	width:300px;
	padding: 5px;
	border-radius: 5px;
	margin: 10px auto;
}


.botao1{
	text-align:center;
	text-decoration:none;
	background-color: #66bbff;
	padding: 5px 10px 5px 10px;
	color:#ffff;
	border-radius: 10px;
	border: 0;
	cursor: pointer;
	width:300px;
	margin: 40px auto;
}

.botao{
	text-align:center;
	text-decoration:none;
	background-color: #66bbff;
	color:#ffff;
	border-radius: 10px;
	border: 0px;
	cursor: pointer;
	padding:5px;
}


.botao2{
	text-align:center;
	text-decoration:none;
	background-color: #66bbff;
	padding: 5px 10px 5px 10px;
	color:#ffff;
	border-radius: 10px;
	border: 0;
	cursor: pointer;
	width:300px;
	margin: 40px auto;
	margin-bottom: -20px;
}

.botao3{
	text-align:center;
	text-decoration:none;
	background-color: #d51213;
	color:#ffff;
	border-radius: 10px;
	border: 0px;
	cursor: pointer;
	padding:5px;
	
}

.botao4{
	text-align:center;
	text-decoration:none;
	background-color: #d51213;
	padding: 5px 10px 5px 10px;
	color:#ffff;
	border-radius: 10px;
	border: 0;
	cursor: pointer;
	width:300px;
	margin: 40px auto;
	margin-bottom: -20px;
}

.botao5{
	text-align:center;
	text-decoration:none;
	background-color: #66bbff;
	padding: 2px 10px 2px 10px;
	color:#ffff;
	border-radius: 10px;
	border: 0;
	cursor: pointer;
	width:280px;
	margin: 40px auto;
	margin-bottom: -20px;
}

#botao:hover{
	transform: scale(1.1); 	
}
.test:hover{
	transform: scale(1.1);
}
